USE [master]
GO
/****** Object:  Database [ESD_Lutron]    Script Date: 9/7/2017 1:35:37 PM ******/
CREATE DATABASE [ESD_Lutron]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESD_Lutron', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ESD_Lutron.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESD_Lutron_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ESD_Lutron_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESD_Lutron].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESD_Lutron]
GO
/****** Object:  Table [dbo].[BACnetDeviceMapping]    Script Date: 9/7/2017 1:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACnetDeviceMapping](
	[bacnet_device_mapping_id] [int] IDENTITY(1,1) NOT NULL,
	[device_id] [int] NULL,
	[object_instance] [int] NULL,
	[floor_id] [int] NULL,
	[suite_id] [int] NULL,
	[room_id] [int] NULL,
 CONSTRAINT [PK_BACnetDeviceMapping] PRIMARY KEY CLUSTERED 
(
	[bacnet_device_mapping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BACnetDevices]    Script Date: 9/7/2017 1:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BACnetDevices](
	[bacnet_device_id] [int] IDENTITY(1,1) NOT NULL,
	[network_id] [varchar](100) NULL,
	[device_id] [int] NULL,
	[object_type] [varchar](500) NULL,
	[object_instance] [int] NULL,
	[object_name] [varchar](500) NULL,
	[routed_source] [varchar](100) NULL,
	[routed_net] [int] NULL,
 CONSTRAINT [PK_BACnetDevices] PRIMARY KEY CLUSTERED 
(
	[bacnet_device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
