<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ESDLutronEntities" connectionString="metadata=res://*/ESDDB.csdl|res://*/ESDDB.ssdl|res://*/ESDDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC4156\SQLEXPRESS;initial catalog=ESD_Lutron;user id=sa;password=softweb#123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BACnet_LutronDemo.Properties.Settings.ESD_LutronConnectionString"
      connectionString="Data Source=PC4156\SQLEXPRESS;Initial Catalog=ESD_Lutron;User ID=sa;Password=softweb#123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>